<form #form="ngForm" class="cart-panel" (ngSubmit)="onSubmit()">

  <label for="fullName">Full Name</label>
  <input #fullNameField="ngModel" type="text" required name="fullName" placeholder="(minimum 3 characters)" minlength="3"
    [(ngModel)]="fullName" />

  <label for="address">Address</label>
  <input #addressField="ngModel" type="text" required name="address" placeholder="(minimum 6 characters)" minlength="6" [(ngModel)]="address" />

  <label for="creditCardNum">Credit Card Number</label>
  <input #creditCardField="ngModel" type="text" required name="creditCardNum" placeholder="(16-digit number)" pattern="\d*" minlength="16"
    maxlength="16" [(ngModel)]="creditCardNum" (ngModelChange)="validateCreditCardInput()" />

  <p class="payment-info-message">We will never share your payment details with anyone else.</p>

  <button type="submit" [disabled]="form.invalid">Submit</button>
</form>

<ul class="form-errors-container" *ngIf="form.invalid && form.dirty">
  <li class="form-error" *ngIf="fullNameField.dirty && fullName.length < 3">The name must be at least 3 characters length.</li>
  <li class="form-error" *ngIf="addressField.dirty && address.length < 6">The address must be at least 6 characters length.</li>
  <li class="form-error" *ngIf="creditCardField.dirty && !isValidCreditCard">Credit card number must be 16-digit number.</li>
</ul>