<form #form="ngForm" class="cart-panel" (ngSubmit)="onSubmit()">
  <label for="fullName">Full Name</label>
  <input type="text" required name="fullName" placeholder="(minimum 3 characters)" minlength="3" />

  <label for="address">Address</label>
  <input type="text" required name="address" placeholder="(minimum 6 characters)"minlength="6" />

  <label for="cardNumber">Credit Card Number</label>
  <input type="number" required name="cardNumber" placeholder="(16-digit number)" pattern="\d*" minlength="16" maxlength="16" />

  <p class="payment-info-message">We will never share your payment details with anyone else.</p>

  <button type="submit" [disabled]="form.invalid">Submit</button>
</form>