.item-details-container {
  max-width: 720px;
  margin: 0 auto;
}

.item-details {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

img {
  border-radius: 10px;
  width: 320px;
  box-shadow: 0 0 5px 0px #bbb;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 64px;
}

.details>* {
  margin: 12px 0;
}

.back-link {
  margin-top: 8px;
  color: #1393fc;
  text-decoration: none;
}

.back-link:hover {
  color: #1c6988;
}

.no-data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-data-message {
  margin: 100px auto 45px;
  text-align: center;
}