<div class="order-confirmation-container">

  <h1 class="order-confirmation-header">Success! 🎉</h1>

  <div class="order-confirmation-items">
    <p class="order-confirmation-item" >Thank you, {{ orderData?.fullName }}!</p>
    <p class="order-confirmation-item" >Your order with a total of ${{ orderData?.totalPrice }} is confirmed.</p>
    <p class="order-confirmation-item" >Your order will be delivered to {{ orderData?.address }} within 1-3 working days.</p>
  </div>
  
  <button routerLink="/">Back to product list</button>
</div>