.order-confirmation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8%;
}

.order-confirmation-header {
  color: #33e5bc;
  margin-bottom: 30px;
}

.order-confirmation-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.order-confirmation-item {
  margin-bottom: 30px;
}