<div class="cart-item">
  <img [src]="item.product.url" />

  <div class="cart-item-details">
    <h4>{{ item.product.name }}</h4>
    <p>${{ item.product.price }}</p>

    <div class="cart-item-quantity">
      <label for="quantity">Quantity: </label>
      <input type="number" name="quantity" class="number-input" [value]="item.quantity" min="1" max="10"
        [(ngModel)]="item.quantity" />
    </div>
    <button class="remove-item" (click)="removeItem(item)">✖︎ Remove</button>
  </div>
</div>