img {
  width: 100px;
  border-radius: 10px;
  box-shadow: 0 0 5px 0px #bbb;
}

.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

.cart-item-details {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-left: 40px;
}

.number-input {
  width: 70px;
  text-align: center;
}

.remove-item {
  background-color: darkred;
  width: 85px;
  padding: 5px;
  box-shadow: none;
  align-self: center;
}

.remove-item:hover {
  background-color: red;
}